.navbar {
  background: #333;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  padding: 0 24px;
  max-width: 1100px;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.nav-item {
  height: 80px;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.nav-links:hover {
  border-bottom: 3px solid #fff;
}

.submenu {
  display: none;
  position: absolute;
  top: 80px;
  background: #333;
  list-style: none;
  padding: 0;
}

.nav-item:hover .submenu {
  display: block;
}

.submenu-item {
  height: 50px;
}

.submenu-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.submenu-links:hover {
  background: #555;
}

.profile-menu {
  position: relative;
}

.profile-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.profile-submenu {
  display: none;
  position: absolute;
  top: 80px;
  right: 0;
  background: #333;
  list-style: none;
  padding: 0;
}

.profile-menu:hover .profile-submenu {
  display: block;
}

.profile-submenu-item {
  height: 50px;
}

.profile-submenu-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 1rem;
}

.profile-submenu-links:hover {
  background: #555;
}
